{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">A little about us:</h1>
      <p class="lead my-3">the company has been actively growing and developing for more than 5 years, every year our revenue doubles. Inside the company, there is a start-up atmosphere, a minimum of bureaucracy, everyone's opinion is taken into account.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
{% endblock %}
