{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Python-developer</h1>
      <p class="lead fw-normal">A Python developer is an IT specialist who is involved in the creation of websites, games, online services, social media bots, and other software. The Python programming language is used in various industries, but is most popular in the following areas: Development of the back end of web and mobile applications.</p>
      <a class="btn btn-outline-secondary" href="/about">Подробнее</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{% endblock %}
